<style lang="less" scoped>
.breadcrumb-container{
    background: #fff;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dt-outer{
        font-size: 12px;
        .week{
            padding:0 5px;
        }
    }
}
</style>
<template>
<div class="breadcrumb-container">
    <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item :to="{ path: '/' }">指挥室</el-breadcrumb-item>
        <el-breadcrumb-item>门店管理</el-breadcrumb-item>
    </el-breadcrumb>
    <div class="dt-outer">
        现在时间：2018.02.02 <span class="week">星期五</span> 15:00
    </div>
</div>
</template>
<script>
export default {
    data(){
        return{

        }
    },
    methods:{

    }
}
</script>


