<style lang="less" scoped>
.layout-container{
    position: relative;
    height: 100%;
        box-sizing: content-box;
    .page-content{
        position: absolute;
        top:55px;
        left:0;
        right: 0;
        bottom:0;
        background: #eaf1f8;
        padding:10px 15px;
        box-sizing: content-box;
        padding-left:95px;
    }
}
</style>
<template>
<div class="layout-container">
    <Topbar/>
    <Sidebar/>
    <div class="page-content">
        <Breadcrumb/>
        <router-view/>
    </div>
</div>
</template>
<script>
import Sidebar from '@/components/layout/Sidebar'
import Topbar from '@/components/layout/Topbar'
import Breadcrumb from '@/components/layout/Breadcrumb'

export default {
    components:{
        Sidebar,
        Topbar,
        Breadcrumb
    },
    data(){
        return{

        }
    }
}
</script>
