<style lang="less" scoped>
.sidebar-container{
    position: relative;
    height: 100%;
    z-index: 9;
            position: fixed;
        left: 0;
        top:0;
        bottom:0;
        z-index: 9;
    .el-menu-vertical-demo:not(.el-menu--collapse) {
        width: 250px;
        height: 100%;
    }
    .el-menu--collapse{
        width: 80px;
        height: 100%;
    }
    .el-menu-item{
        text-align: center;
        height: 70px;
        line-height: 70px;
        font-size: 24px;
    }
    .el-menu-item:first-child {
        margin-bottom: 20px;
        margin-top:55px;
    }
    .mini-title-outer{
        color:#fff;
        display:flex;
        align-items:center;
        flex-direction: column;
        padding: 15px 0;
        .title{
            color:#6c6d72;
            line-height: 30px;
            font-size: 14px;
        }
        .avatar{
            width:30px;
            height:30px;
            border-radius: 100%;
            background: #eee;
        }
        .title-hl{
            color:#fff;
        }
    }
}
</style>

<template>
<div class="sidebar-container">
    <el-menu default-active="1-4-1" class="el-menu-vertical-demo"  background-color="#000"
      text-color="#fff"
      active-text-color="#fff"
        @open="handleOpen" 
        @close="handleClose" 
        :collapse="isCollapse">
        <el-menu-item index="1">
            <div class="mini-title-outer">
                <div class="avatar"></div>
                <div class="title title-hl">苏宁</div>
            </div>
            <span slot="title">战状监控</span>
        </el-menu-item>
        <el-menu-item index="1">
            <div class="mini-title-outer">
                <i class="el-icon-edit-outline"></i>
                <div class="title">战状监控</div>
            </div>
            <span slot="title">战状监控</span>
        </el-menu-item>
        <el-menu-item index="2">
            <div class="mini-title-outer">
                <i class="el-icon-menu"></i>
                <div class="title">战状分析</div>
            </div>
            <span slot="title">战状分析</span>
        </el-menu-item>
        <el-menu-item index="3">
            <div class="mini-title-outer">
                <i class="el-icon-setting"></i>
                <div class="title">标签云图</div>
            </div>
            <span slot="title">标签云图</span>
        </el-menu-item>
        <el-menu-item index="4">
            <div class="mini-title-outer">
                <i class="el-icon-location"></i>
                <div class="title">武器升级</div>
            </div>
            <span slot="title">武器升级</span>
        </el-menu-item>
        <el-menu-item index="5">
            <div class="mini-title-outer">
                <i class="el-icon-document"></i>
                <div class="title">指挥室</div>
            </div>
            <span slot="title">指挥室</span>
        </el-menu-item>
        <el-menu-item index="6">
            <div class="mini-title-outer">
                <i class="el-icon-setting"></i>
                <div class="title">退出</div>
            </div>
            <span slot="title">退出</span>
        </el-menu-item>
    </el-menu>
</div>
</template>

<script>
export default {
    data() {
      return {
        isCollapse: true
      };
    },
    methods: {
      handleOpen(key, keyPath) {
        console.log(key, keyPath);
      },
      handleClose(key, keyPath) {
        console.log(key, keyPath);
      }
    }
  }
</script>

