<style lang="less" scoped>
.topbar-container{
    background: #000;
    position: fixed;
    top:0;
    left:0;
    z-index: 10;
    width: 100%;
    padding: 15px;
    .tc-content{
        .title{
            color:#fff;
            font-size:18px;
            font-weight: bold;
            margin-left:15px;
        }
        .subtitle{
            color:#fff;
            margin-left:10px;
        }
    }
}
</style>
<template>
<div class="topbar-container">
    <div class="tc-content">
        <span class="title">SUNING</span><span class="subtitle">苏宁智慧运营平台</span>
    </div>
</div>
</template>
<script>
export default {
    data(){
        return{

        }
    }
}
</script>

