<style lang="less" scoped>
.index-container{
    .query-content{
        margin-top:10px;
        background: #fff;
        border:1px solid #b6bdc575;
    }
    .el-form-item{
        margin-bottom:0;
    }
    .table-content{
        background: #fff;
        padding:10px;
        .table-header-content{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:0 40px;
            padding-bottom:10px;
            .thc-left{
                font-size: 14px;
                .num{
                    color:blue;
                }
            }
        }
        .pager-outer{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-top:20px;
        }
    }
    .el-row{
        padding-top: 10px;
    }
}
</style>
<template>
<div class="index-container">
    <div class="query-content">
        <el-form :inline="true" ref="form" :model="form" label-width="150px">
            <el-row>
                <el-form-item label="是否闭店：">
                    <el-checkbox-group v-model="form.type">
                        <el-checkbox label="全部" name="type"></el-checkbox>
                        <el-checkbox label="是" name="type"></el-checkbox>
                        <el-checkbox label="否" name="type"></el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
                <el-form-item label="地区选择">
                    <el-select v-model="form.location1" clearable placeholder="请选择大区" size="mini">
                        <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                    <el-select v-model="form.location2" clearable placeholder="请选择大区" size="mini">
                        <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="门店编码">
                    <el-input v-model="form.code" size="mini"></el-input>
                </el-form-item>
            </el-row>
            <el-row>
                <el-form-item label="位置是否准确：">
                    <el-checkbox-group v-model="form.type2">
                        <el-checkbox label="全部" name="type"></el-checkbox>
                        <el-checkbox label="是" name="type"></el-checkbox>
                        <el-checkbox label="否" name="type"></el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
                <el-form-item label="门店名称">
                    <el-input v-model="form.name" size="mini" style="width:350px;"></el-input>
                </el-form-item>
                <el-button type="primary" size="mini" icon="el-icon-search" style="margin-top:5px;margin-left:80px;">搜索</el-button>
            </el-row>
        </el-form>
    </div>
    <div class="table-content">
        <div class="table-header-content">
            <div class="thc-left">
                查询结果：共 <span class="num">400</span>条记录
            </div>
            <div class="tch-right">
                <el-button type="primary" plain icon="el-icon-upload2" size="mini">批量上传</el-button>
                <el-button type="primary" plain icon="el-icon-download" size="mini">导出记录</el-button>
            </div>
        </div>
        <el-table
            border
            :header-cell-style="{background:'#f5f7fa'}"
            :data="tableData"
            style="width: 100%">
                <el-table-column
                    prop="regionCode"
                    label="大区编码">
                </el-table-column>
                <el-table-column
                    prop="name"
                    label="大区名称">
                </el-table-column>
                <el-table-column
                    prop="companyCode"
                    label="分公司编码"
                    width="100">
                </el-table-column>
                <el-table-column
                    prop="branchName"
                    label="分公司名称"
                    width="120">
                </el-table-column>
                <el-table-column
                    prop="storeCode"
                    label="门店编码">
                    </el-table-column>
                <el-table-column
                    prop="storeName"
                    label="门店名称"
                    width="120">
                </el-table-column>
                <el-table-column
                    prop="storeLevel"
                    label="门店等级">
                </el-table-column>
                <el-table-column
                    prop="storeType"
                    label="门店类型">
                </el-table-column>
                <el-table-column
                    prop="storeAddress"
                    label="门店地址"
                    width="120">
                </el-table-column>
                <el-table-column
                    prop="isAddressCorrect"
                    label="地址是否准确"
                    width="120"
                    align="center">
                </el-table-column>
                <el-table-column
                    prop="isClosed"
                    label="是否闭店"
                    align="center">
                </el-table-column>
                <el-table-column
                    prop="updateDt"
                    label="更新时间"
                    width="160">
                </el-table-column>
                <el-table-column
                    label="操作"                    
                    align="center">
                    <template slot-scope="scope">
                        <i class="el-icon-setting" style="color:#409EFF;font-weight:bold;font-size:18px;"></i>
                    </template>
                </el-table-column>
            </el-table-column>
        </el-table>
        <div class="pager-outer">
            <el-pagination
            prev-text="上一页"
            next-text="下一页"
            background
            @size-change="handleSizeChange"
            @current-change="handleCurrentChange"
            :current-page="currentPage"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="100"
            layout="total, sizes, prev, pager, next, jumper"
            :total="400">
            </el-pagination>
        </div>
    </div>
</div>
</template>
<script>
export default {
    data(){
        return{
            currentPage: 1,
            tableData: [
                {
                regionCode: 'JK0001',
                name: '上海大区',
                companyCode: 'JK0001',
                branchName:'上海四川北路店',
                storeCode:'JK0001',
                storeName:'上海四川北路店',
                storeLevel:'JK0001',
                storeType:'JK0001',
                storeAddress:'上海四川北路店',
                isAddressCorrect:'是',
                isClosed:'否',
                updateDt:'2018.02.02 17:00:00',
                action:'fs'
                },
                {
                regionCode: 'JK0001',
                name: '上海大区',
                companyCode: 'JK0001',
                branchName:'上海四川北路店',
                storeCode:'JK0001',
                storeName:'上海四川北路店',
                storeLevel:'JK0001',
                storeType:'JK0001',
                storeAddress:'上海四川北路店',
                isAddressCorrect:'是',
                isClosed:'否',
                updateDt:'2018.02.02 17:00:00',
                action:'fs'
                },
                {
                regionCode: 'JK0001',
                name: '上海大区',
                companyCode: 'JK0001',
                branchName:'上海四川北路店',
                storeCode:'JK0001',
                storeName:'上海四川北路店',
                storeLevel:'JK0001',
                storeType:'JK0001',
                storeAddress:'上海四川北路店',
                isAddressCorrect:'是',
                isClosed:'否',
                updateDt:'2018.02.02 17:00:00',
                action:'fs'
                },
                {
                regionCode: 'JK0001',
                name: '上海大区',
                companyCode: 'JK0001',
                branchName:'上海四川北路店',
                storeCode:'JK0001',
                storeName:'上海四川北路店',
                storeLevel:'JK0001',
                storeType:'JK0001',
                storeAddress:'上海四川北路店',
                isAddressCorrect:'是',
                isClosed:'否',
                updateDt:'2018.02.02 17:00:00',
                action:'fs'
                },
                {
                regionCode: 'JK0001',
                name: '上海大区',
                companyCode: 'JK0001',
                branchName:'上海四川北路店',
                storeCode:'JK0001',
                storeName:'上海四川北路店',
                storeLevel:'JK0001',
                storeType:'JK0001',
                storeAddress:'上海四川北路店',
                isAddressCorrect:'是',
                isClosed:'否',
                updateDt:'2018.02.02 17:00:00',
                action:'fs'
                },
                {
                regionCode: 'JK0001',
                name: '上海大区',
                companyCode: 'JK0001',
                branchName:'上海四川北路店',
                storeCode:'JK0001',
                storeName:'上海四川北路店',
                storeLevel:'JK0001',
                storeType:'JK0001',
                storeAddress:'上海四川北路店',
                isAddressCorrect:'是',
                isClosed:'否',
                updateDt:'2018.02.02 17:00:00',
                action:'fs'
                },
                {
                regionCode: 'JK0001',
                name: '上海大区',
                companyCode: 'JK0001',
                branchName:'上海四川北路店',
                storeCode:'JK0001',
                storeName:'上海四川北路店',
                storeLevel:'JK0001',
                storeType:'JK0001',
                storeAddress:'上海四川北路店',
                isAddressCorrect:'是',
                isClosed:'否',
                updateDt:'2018.02.02 17:00:00',
                action:'fs'
                }
            ],
            options: [{
                value: '选项1',
                label: '大区1'
                }],
            form:{
                name:'',
                code:'',
                type:[],
                type2:[],
                location1:'',
                location2:''
            }
        }
    },
    methods:{
        formatter(row, column) {
            return row.address;
        },
        handleSizeChange(val) {
            console.log(`每页 ${val} 条`);
        },
        handleCurrentChange(val) {
            console.log(`当前页: ${val}`);
        }
    }
}
</script>


